
.highlight {
  background-color: $darkGray;
  padding: 10px 7px 10px 18px;
  margin: 20px 0 20px 0;
  overflow-x: scroll;
  color: $white;
  border-radius: 5px
}

code {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlight .hll { background-color: $darkGray }
.highlight .c { color: $ocean; font-style: italic } /* Comment */
.highlight .err { color: $reddish; background-color: $gray } /* Error */
.highlight .g { color: $ocean } /* Generic */
.highlight .k { color: $orange; font-weight: bold } /* Keyword */
.highlight .l { color: $lightGray } /* Literal */
.highlight .n { color: $lightGray } /* Name */
.highlight .o { color: $lightBlue } /* Operator */
.highlight .x { color: $lightGray } /* Other */
.highlight .p { color: $lightGray } /* Punctuation */
.highlight .cm { color: $ocean; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: $ocean; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: $ocean; font-style: italic } /* Comment.Single */
.highlight .cs { color: $ocean; font-weight: bold; background-color: $darkerGray } /* Comment.Special */
.highlight .gd { color: $reddish } /* Generic.Deleted */
.highlight .ge { color: $reddish; font-style: italic } /* Generic.Emph */
.highlight .gr { color: $reddish } /* Generic.Error */
.highlight .gh { color: $white; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: $orange } /* Generic.Inserted */
.highlight .go { color: $white } /* Generic.Output */
.highlight .gp { color: $white } /* Generic.Prompt */
.highlight .gs { color: $white; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $white; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: $reddish } /* Generic.Traceback */
.highlight .kc { color: $orange; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: $orange; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: $orange; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: $orange } /* Keyword.Pseudo */
.highlight .kr { color: $reddish; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: $reddish; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: $green } /* Literal.Date */
.highlight .m { color: $green } /* Literal.Number */
.highlight .s { color: $green } /* Literal.String */
.highlight .na { color: $orange } /* Name.Attribute */
.highlight .nb { color: $reddish } /* Name.Builtin */
.highlight .nc { color: $reddish; text-decoration: underline } /* Name.Class */
.highlight .no { color: $reddish } /* Name.Constant */
.highlight .nd { color: $reddish } /* Name.Decorator */
.highlight .ni { color: $orange } /* Name.Entity */
.highlight .ne { color: $orange } /* Name.Exception */
.highlight .nf { color: $orange } /* Name.Function */
.highlight .nl { color: $orange } /* Name.Label */
.highlight .nn { color: $reddish; text-decoration: underline } /* Name.Namespace */
.highlight .nx { color: $orange } /* Name.Other */
.highlight .py { color: $orange } /* Name.Property */
.highlight .nt { color: $orange; font-weight: bold } /* Name.Tag */
.highlight .nv { color: $orange } /* Name.Variable */
.highlight .ow { color: $orange; font-weight: bold } /* Operator.Word */
.highlight .w { color: $lightGray } /* Text.Whitespace */
.highlight .mf { color: $green } /* Literal.Number.Float */
.highlight .mh { color: $green } /* Literal.Number.Hex */
.highlight .mi { color: $green } /* Literal.Number.Integer */
.highlight .mo { color: $green } /* Literal.Number.Oct */
.highlight .sb { color: $green } /* Literal.String.Backtick */
.highlight .sc { color: $green } /* Literal.String.Char */
.highlight .sd { color: $green } /* Literal.String.Doc */
.highlight .s2 { color: $green } /* Literal.String.Double */
.highlight .se { color: $green } /* Literal.String.Escape */
.highlight .sh { color: $green } /* Literal.String.Heredoc */
.highlight .si { color: $green } /* Literal.String.Interpol */
.highlight .sx { color: $green } /* Literal.String.Other */
.highlight .sr { color: $green } /* Literal.String.Regex */
.highlight .s1 { color: $green } /* Literal.String.Single */
.highlight .ss { color: $green } /* Literal.String.Symbol */
.highlight .bp { color: #reddish } /* Name.Builtin.Pseudo */
.highlight .vc { color: $orange } /* Name.Variable.Class */
.highlight .vg { color: $orange } /* Name.Variable.Global */
.highlight .vi { color: $orange } /* Name.Variable.Instance */
.highlight .il { color: $green } /* Literal.Number.Integer.Long */